@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-cloudImage{
    background-image: url(./../images/clouds.png);
    height: 120px;
}

li.tick::marker{
    list-style-image: url(./../images/tick.svg);
}